{% extends 'base.html.twig' %}



{% block title %}Register{% endblock %}

{% block main %}
    <h1 class="create-admin">Creation Administrateur</h1>
    <div class="register">
        {{ form_start(registrationForm, { 'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.password, { 'attr': {'class': 'form-control'}}) }}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

