@font-face {
    font-family: "Arial Black";
    src: url("../fonts/ariblk.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf");

}
@font-face {
    font-family: "Loki Cola";
    src: url("../fonts/LOKICOLA.TTF");

}



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6A0606;
}

/* UI KIT */

h1 {
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h2 {
    font-family: "Loki Cola", fantasy;
    color: white;
    text-align: center;
}

h4{
    color: white;
    text-align: center;
    padding: 1rem;
}
p {
    font-family: "Arial Black", sans-serif;
    color: white;

}

a {
    vertical-align: middle;
    color: white;
}

.create-admin {
    color: black;
    text-align: center;
    font-size: 80px;
}

.champsForm {
    color: white;
    text-align: center;
}

.champsMail{
    margin-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    color: black;
}

.champsPassword{
    margin-left: 2vw;
    margin-right: 25px;
}

.nav-bar{
    position: relative;
}
.nav-bar ul + a{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.li-nav {
    display: flex;
    justify-content: space-evenly;

    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.li-nav li{
    list-style-type: none ;
    padding-top: 25px;
    padding-bottom: 5px;

}

.tattoo{
    font-family: "Loki Cola",fantasy;
    font-size: 40px;

}

/*.li-nav li a {*/
/*    font-family: ;*/
/*    font-size: ;*/
/*    color:white;*/
/*    text-decoration: none;*/

/*}*/

.li-nav li a:hover {

}

.img-home {
    display: flex;
    justify-content: space-evenly;

}

img {
    max-width: 200px;

}


.left, .right {
    width: 50%;
}

.separator {
    background-color: black;
}

.separator h2 {
    font-size: 3rem;
}

.artist {
    font-family: "Arial Black",sans-serif;
}

form{
    color: white;
    display: block;

    margin-left: 45%;
    width: 200px;
    text-align: center;
    align-content: center;
}

label{
    width: 1rem;

}

.burger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-burger{
    display: none;
}

.nav-burger.active{
    left: 0;
}

.rdv{
    width:100px;

}

@media (max-width: 640px) {

    .burger{
        display: block;
    }

    .li-burger {
        list-style-type: none;
        text-align: center;
    }

    .nav-burger.active{
        display: block;
    }

    .nav-bar {
        display:none;
    }

    .rdv{
        margin: auto;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
