@font-face {
    font-family: "Arial Black";
    src: url("../fonts/ariblk.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf");

}
@font-face {
    font-family: "Loki Cola";
    src: url("../fonts/LOKICOLA.TTF");

}

@keyframes smooth {
    from{
        height: 0;
    }
    to{
        height: 100%;
    }
}



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6A0606;
}

.landing{
    background-color: #6A0606;
}

.landing > h1{
    font-family: "Loki Cola", fantasy;
    font-size: 48px;
}

footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 20px;
}

.bloc-contact{
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.account{
    font-family: "Loki Cola", fantasy;
    text-align: center;
    font-size: 50px;
}

.create-user{
    height: 55vh;
}


/* UI KIT */

h1 {
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h2 {
    font-family: "Loki Cola", fantasy;
    color: white;
    text-align: center;
    padding:10px 0 5px;
    margin-bottom: 0;
}

h4{
    color: white;
    text-align: center;
    padding: 1rem;
}
p {
    font-family: "Arial Black", sans-serif;
    color: white;

}

a {
    vertical-align: middle;
    color: white;
}

.section-profil{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.profil{

    justify-content: center;
    padding: 30px;
    height: 55vh;
}

.edit-profil{
    border-color: white;
    margin: 20px;
    border-radius: 2px;
}

.edit-profil a{
    padding: 5px;
    color: black;
    text-decoration: none;
}

.edit-profil a:hover{
    background-color: black;
    color: white;
}

.button{
    border: white solid 2px;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    transition: .4s;
}

.button:hover{
    background-color: black;
    color: white;
}

.create-admin {
    color: black;
    text-align: center;
    font-size: 80px;
}

.champsForm {
    color: white;
    text-align: center;
}

.champsMail{
    margin-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    color: black;
}

.champsPassword{
    margin-left: 2vw;
    margin-right: 25px;
}

.nav-bar{
    position: relative;
}

.nav-bar ul + a{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.ul-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.ul-nav a:hover{
    color: lightslategrey;
}

.ul-nav li{
    list-style-type: none ;
    padding-top: 25px;
    padding-bottom: 5px;
}

nav h1{
    font-family: "Loki Cola", fantasy;
}

.ul-nav li span{
    font-style: italic;
}

.ul-nav li a{
    text-decoration: none;
}

.tattoo{
    font-family: "Loki Cola",fantasy;
    font-size: 40px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.btn{
    background-color: #f1f2f3;
    align-items: center;
}

.phone{

    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    padding: 5%;
}

.phone p {
    background-color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}
.mail {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 5%;
}

.mail p{
    background-color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

.img-home {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.pictures-gallery-home {
    max-width: 300px;
    height: 400px;

}


.left{
    width: 80%;
    padding:20px;
    position: absolute;
    bottom:0;
    right: 0;
    background-color: rgba(106, 6, 6, 0.62);
}

.separator {
    background-color: black;
}

.separator h2 {
    font-size: 3rem;
}

.shop {
   position:relative;
    background-image: url('../img/picture-home.jpeg');
    height:70vh;
    background-size:cover;
    background-position:bottom;
    background-attachment: fixed;
}

.artist {
    font-family: "Helvetica",sans-serif;
    margin:0;
}

form{
    color: white;
    display: block;
    padding: 1rem;
    margin-left: 45%;
    width: 200px;
    text-align: center;
    align-content: center;
}

label{
    width: 11rem;

}

.admin-gallery{
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

#all-pictures{
    display: inline;
    text-align: center;
}

.pictures-gallery{
    width: 400px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}



.burger{
    display: none;
    cursor: pointer;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-burger{
    display: none;
}

.nav-burger.active{
    left: 0;
}

.rdv{
    font-family: "Loki Cola", fantasy;
    font-size: 28px;
    margin: 20px;
    width:122px;
}

/*#date_user{*/
/*    padding-bottom: 350px;*/
/*}*/

#login{
    height: 55vh;
}

#date-user{
    height: 55vh;
}

.contact{
    background-color: black;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.contact h2 {
    font-family: "Loki Cola", fantasy;
    font-size: 5rem;
    padding-top: 2rem;
    bottom: 0;
}

.adresse{
    font-family: "Loki Cola", fantasy;
    font-size: 3rem;
    color: white;
}

.adresse p{
    font-family: "Helvetica", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.horaires{
    font-family: "Loki Cola", fantasy;
    font-size: 3rem;
    color: white;
}

.horaires p{
    font-family: "Helvetica", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.copyright {
    font-family: "Helvetica", sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
    padding-right: 4rem;
}


.video{
    width: 100vw;
    height: 80vh;
}


@media (max-width: 680px) {

    #date-user{
        margin-right: 180px;
    }

    .create-user{
        margin: auto;
    }

    .img-home{
        margin: auto;
        padding: 10px;
    }

    .pictures-gallery{
        width: 90%;
        margin: auto;
    }

    .burger{
        display: block;
    }

    .li-burger {
        list-style-type: none;
        text-align: center;
    }
    .nav-bar {
        display:none;
        transition: 3s ease;
    }

    .nav-bar.active{
        display: block;
    }

    .ul-nav{
        display: block;
        list-style-type: none;
    }

    .copyright{
        padding-left: 4rem;
    }

    .rdv{
        margin: auto;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
