{% extends "base.html.twig" %}





{% block main %}

    {% for message in app.flashes('success') %}
        <div class="publish">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <a class="button" href="{{ path('gallery') }}">Galerie</a>
    </div>

{% endblock %}