{% extends "base.html.twig" %}

{% block main %}
    {% for admin in admins %}
        <li><a href="{{ path('admin_admin_update', {'id':admin.id}) }}"><p>{{ admin.name }}</p></a></li>
        <li><a href="{{ path('admin_delete_admin', {'id':admin.id}) }}">Supprimer compte</a></li>


    {% endfor %}

{% endblock %}