{% extends 'base.html.twig' %}



{% block title %}Register{% endblock %}

{% block main %}
    <h1 class="create-admin">Modification Administrateur</h1>
    <div class="register">
        {{ form(form) }}
    </div>
{% endblock %}




















{# {% extends 'base.html.twig' %} #}

{#{% block title %}Hello LoginController!{% endblock %}#}


{#{% block main  %}#}
{#    <div id="login" >#}
{#        <h2>Espace de creation</h2>#}
{#        <form action="{{ path('app_login') }}" method="post" >#}
{#            <label for="username">Email:</label>#}
{#            <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control">#}

{#            <label class="mt-4" for="password"> Votre mot de passe: </label>#}
{#            <input type="password" id="password" name="_password" class="form-control">#}

{#            <button type="submit" class="btn form-control my-4" > Connexion </button>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}

{#{% block footer %}#}
{#    <section>#}
{#        <div class="contact">#}
{#            <h2>Tattoo <br> Shop</h2>#}
{#            <div class="adresse">#}
{#                <h2>Adresse</h2>#}
{#                <p>12 Rue Jules <br> Guesde <br> 33850 Léognan</p>#}
{#            </div>#}
{#            <div class="horaires">#}
{#                <h2>Horaires</h2>#}
{#                <p>Du mardi au samedi <br> 10h - 19h</p>#}
{#            </div>#}
{#        </div>#}
{#        <p class="copyright">Copyright Tattoo Shop - 2022</p>#}
{#    </section>#}
{#{% endblock %}#}