{% extends 'base.html.twig' %}



{% block title %}Hello LoginController!{% endblock %}


{% block main  %}
    <div >
        <h1>Bonjour !</h1>
        <div >
            <h2 >Espace de connexion</h2>
            <form action="{{ path('app_login') }}" method="post" >
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="example-wrapper">

                <label for="password"> Votre mot de passe: </label>
                <input type="password" id="password" name="_password" class="example-wrapper">

                <button type="submit" class="btn"> Connexion </button>
            </form>
        </div>
    </div>
{% endblock %}