{% extends "base.html.twig" %}



{% block main %}
    {% for picture in pictures %}
        <section id="all-pictures">
            <div class="admin-gallery">
                <img class="pictures-gallery" src="{{ asset('uploads/images/') ~ picture.picture }}" alt="Photo de tatouage">

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path ('admin_pictures_delete',{'id':picture.id }) }}">Supprimer cette photo</a>
                    <a href="{{ path ('admin_pictures') }}">Ajouter une photo</a>
            </div>
            {% endif %}
        </section>
    {% endfor %}
{% endblock %}

{% block footer %}
    <section>
        <div class="contact">
            <h2>Tattoo <br> Shop</h2>
            <div class="adresse">
                <h2>Adresse</h2>
                <p>12 Rue Jules <br> Guesde <br> 33850 Léognan</p>
            </div>
            <div class="horaires">
                <h2>Horaires</h2>
                <p>Du mardi au samedi <br> 10h - 19h</p>
            </div>
        </div>
        <p class="copyright">Copyright Tattoo Shop - 2022</p>
    </section>
{% endblock %}