{% extends "base.html.twig" %}

{% block main %}
    {% for picture in pictures %}
        <section>
            <img src="{{ asset('uploads/images/') ~ picture.picture }}">
        </section>
    {% endfor %}
{% endblock %}