{% extends "base.html.twig" %}


{% block header %}
{% endblock %}

{% block main %}
    <div class="landing">
        <h1>Bienvenue au Tattoo Shop</h1>

        <div class="video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4JnlCYwzGFo?autoplay=1&mute=1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"></iframe>
        </div>
        <div class="container">
            <a class="button" href="{{ path('home-page') }}">Entrez</a>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
